{% extends 'users/base.html' %}

{% block heac_content %}
    <title>Foodgram sign-up</title>
{% endblock%}

{% block container %}
    {% for error in form.error%}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}

    <form method="POST" action="{% url 'users:signup' %}">
        {% csrf_token %}

        {{form.as_p}}


        <button class="btn btn-primary btn-block mt-5">Register</button>
    </form>
    <p class="mt-4">Already have an account? <a href="{% url 'users:login' %}">Log in.</a></p>
{% endblock %}